:host {
    padding: 0px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    h1{
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section{
        background-color: white;
        padding: 12px;
        border-radius: 4px;
        overflow-y: auto; 
        display: flex;
        justify-content: space-around;
        row-gap: 2rem;
        flex-wrap: wrap;
        height: calc(100vh - 76px);
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #b0bec5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #311b92;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}
