<h1>Quem sou eu?</h1>
<section>
    <div class="img-container">
        <img src="../../../assets/imgs/eu.jpg" id="person-img" alt="">
    </div>
    <h4>João Vitor Simão</h4>
    <p id="job">Web Dev</p>
    <p class="text">
        Olá, sou João Vitor Simão. Tenho 19 anos e atualmente sou um estudante, matriculado no curso de Ciência da Computação da 
        Universidade Federal de São João del-Rei. Venho estudando programação há dois anos e planejo me desenvolver na área.
        Meu fascínio por computadores, bem como as influências que tive durante o ensino médio me motivaram a seguir pelo campo
        da tecnologia.
    </p>
    <p class="text">
        Além da programação, tenho gosto pela matemática. Durante o Ensino Médio, adquiri algumas premiações em olimpíadas de conhecimento:
        OBMEP, OBM, OBA e OBR. O ensino também atraiu meu interesse, sendo que por várias vezes me vi coordenando pequenos grupos de
        estudo.
    </p>
</section>